.promo {
    background-color: #5C5C5C;
}

.promo__container {
    padding: 0 70px 60px;
    box-sizing: border-box;
    max-width: 1280px;
    min-height: 560px;
    margin: 0 auto;
    background: url('../../../images/logo-promo.svg') right 70px bottom 60px no-repeat;
}

.promo__title {
    width: 626px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.3;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 102px;
}