.promo {
    background-color: #5C5C5C;
}

.promo__container {
    padding: 0 70px 60px;
    box-sizing: border-box;
    max-width: 1280px;
    min-height: 560px;
    margin: 0 auto;
    background: url('../../../images/logo-promo.svg') right 70px bottom 60px/722px 244px no-repeat;
}

.promo__title {
    max-width: 626px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    line-height: 52px;
    margin: 0;
    padding-top: 50px;
    letter-spacing: -0.04em;
}

@media (max-width: 850px) {
    .promo__container {
        padding: 0 44px 70px;
        min-height: 918px;
        background-position: center bottom 70px;
        background-size: 680px 230px;
    }

    .promo__title {
        margin: 0 auto;
        text-align: center;
        padding-top: 300px;
    }
}

@media (max-width: 450px) {
    .promo__container { 
        padding: 0 10px 40px;
        min-height: 704px;
        background-position: center bottom 40px;
    }

    .promo__title {
        padding-top: 183px;
        padding-bottom: 60px;
        font-size: 31px;
        line-height: 39px;
    }
}