.more-button {
    display: block;
    background: #F9F9F9;
    min-height: 36px;
    width: 1140px;
    font-size: 12px;
    font-weight: 500;
    margin: 0 auto;
    color: #000;
    margin-top: 50px;
    margin-bottom: 80px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: opacity 0.5s ease;
    outline: none;
    text-decoration: none;
    padding: 0;
}

@media (max-width: 1185px) {
    .more-button {
    max-width: 708px;
}
}

@media (max-width: 767px) {
    .more-button {
        max-width: 300px;
    }
}